In [ ]:
#Importing required libraries

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier

In [ ]:
data = pd.read_csv('/content/BankChurners.csv')

In [ ]:
data.head()

   CLIENTNUM  ... Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0  768805383  ...                                            0.99991
1  818770008  ...                                            0.99994
2  713982108  ...                                            0.99998
3  769911858  ...                                            0.99987
4  709106358  ...                                            0.99998

[5 rows x 23 columns]

We see that the data the 10,000+ rows and 23 columns.

The last two columns are unneccesary and can be excluded along with the 'CLIENTNUM' column

Also, we have multiple categorical columns which need to be encoded before being to the model

# Data Pre-processing

In [ ]:
data.isna().sum() #to check and count for missing values

CLIENTNUM                                                                                                                             0
Attrition_Flag                                                                                                                        0
Customer_Age                                                                                                                          0
Gender                                                                                                                                0
Dependent_count                                                                                                                       0
Education_Level                                                                                                                       0
Marital_Status                                                                                                                        0
Income_Category                                                                                                                       0
Card_Category                                                                                                                         0
Months_on_book                                                                                                                        0
Total_Relationship_Count                                                                                                              0
Months_Inactive_12_mon                                                                                                                0
Contacts_Count_12_mon                                                                                                                 0
Credit_Limit                                                                                                                          0
Total_Revolving_Bal                                                                                                                   0
Avg_Open_To_Buy                                                                                                                       0
Total_Amt_Chng_Q4_Q1                                                                                                                  0
Total_Trans_Amt                                                                                                                       0
Total_Trans_Ct                                                                                                                        0
Total_Ct_Chng_Q4_Q1                                                                                                                   0
Avg_Utilization_Ratio                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0
dtype: int64

In [ ]:
#Drop the last two columns

data = data.drop(data.columns[-2:], axis = 1)

In [ ]:
data = data.drop('CLIENTNUM', axis = 1)

In [ ]:
data.isna().sum()

Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition_Flag            10127 non-null  object
 1   Customer_Age              10127 non-null  int64
 2   Gender                    10127 non-null  object
 3   Dependent_count           10127 non-null  int64
 4   Education_Level           10127 non-null  object
 5   Marital_Status            10127 non-null  object
 6   Income_Category           10127 non-null  object
 7   Card_Category             10127 non-null  object
 8   Months_on_book            10127 non-null  int64
 9   Total_Relationship_Count  10127 non-null  int64
 10  Months_Inactive_12_mon    10127 non-null  int64
 11  Contacts_Count_12_mon     10127 non-null  int64
 12  Credit_Limit              10127 non-null  float64
 13  Total_Revolving_Bal       10127 non-null  int64
 14  Avg_Open_To_Buy           10127 non-null  float64
 15  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 16  Total_Trans_Amt           10127 non-null  int64
 17  Total_Trans_Ct            10127 non-null  int64
 18  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 19  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(9), object(6)
memory usage: 1.5+ MB

In [ ]:
#Finding the unique value in target column

data['Attrition_Flag'].unique()

# Gives us an idea of the unique values of the target column

array(['Existing Customer', 'Attrited Customer'], dtype=object)

In [ ]:
#Finding unique values in each caategorical column

{column: list(data[column].unique()) for column in data.select_dtypes('object').columns}

{'Attrition_Flag': ['Existing Customer', 'Attrited Customer'],
 'Gender': ['M', 'F'],
 'Education_Level': ['High School',
  'Graduate',
  'Uneducated',
  'Unknown',
  'College',
  'Post-Graduate',
  'Doctorate'],
 'Marital_Status': ['Married', 'Single', 'Unknown', 'Divorced'],
 'Income_Category': ['$60K - $80K',
  'Less than $40K',
  '$80K - $120K',
  '$40K - $60K',
  '$120K +',
  'Unknown'],
 'Card_Category': ['Blue', 'Gold', 'Silver', 'Platinum']}

We observe the following columns:


*   'Attrition_Flag' & 'Gender' can be BinaryEncoded
*   'Education Level' & 'Income_Category' can be ordinally encoded
*   'Marital_Status' & 'Card_Category' can be onehot encoded

In [ ]:
#To check if we have 'Unknown' values in the categorical columns

{column: (data[column] == 'Unknown').sum() for column in data.select_dtypes('object').columns}

{'Attrition_Flag': 0,
 'Gender': 0,
 'Education_Level': 1519,
 'Marital_Status': 749,
 'Income_Category': 1112,
 'Card_Category': 0}

Since we have multiple "Unknown" as values in columns. These are missing values and we need to handle it.

First we change "Unknkown" to numpy NaN and then handle the missing values accordingly. Either by replacing with Mode or using OneHot Encoding

In [ ]:
#Replacing Unknown with numpy NaN

data = data.replace('Unknown', np.NaN)
data.isna().sum()

Attrition_Flag                 0
Customer_Age                   0
Gender                         0
Dependent_count                0
Education_Level             1519
Marital_Status               749
Income_Category             1112
Card_Category                  0
Months_on_book                 0
Total_Relationship_Count       0
Months_Inactive_12_mon         0
Contacts_Count_12_mon          0
Credit_Limit                   0
Total_Revolving_Bal            0
Avg_Open_To_Buy                0
Total_Amt_Chng_Q4_Q1           0
Total_Trans_Amt                0
Total_Trans_Ct                 0
Total_Ct_Chng_Q4_Q1            0
Avg_Utilization_Ratio          0
dtype: int64

In [ ]:
#Replacing NaN values in 'Education_Level' and 'Income_Category' with modes

import statistics

print("Modes for the following columns")
print(f"Education_Level: {data['Education_Level'].mode()}")
print(f"Income_Category: {data['Income_Category'].mode()}")

Modes for the following columns
Education_Level: 0    Graduate
Name: Education_Level, dtype: object
Income_Category: 0    Less than $40K
Name: Income_Category, dtype: object

In [ ]:
data['Education_Level'] = data['Education_Level'].fillna('Graduate')
data['Income_Category'] = data['Income_Category'].fillna('Less than $40K')
print("Null value replaced with mode successfully !!")

Null value replaced with mode successfully !!

In [ ]:
data.isna().sum()

Attrition_Flag                0
Customer_Age                  0
Gender                        0
Dependent_count               0
Education_Level               0
Marital_Status              749
Income_Category               0
Card_Category                 0
Months_on_book                0
Total_Relationship_Count      0
Months_Inactive_12_mon        0
Contacts_Count_12_mon         0
Credit_Limit                  0
Total_Revolving_Bal           0
Avg_Open_To_Buy               0
Total_Amt_Chng_Q4_Q1          0
Total_Trans_Amt               0
Total_Trans_Ct                0
Total_Ct_Chng_Q4_Q1           0
Avg_Utilization_Ratio         0
dtype: int64

# Defining Encoding Functions

In [ ]:
#Encoding different categorical columns

def binary_encode(df, column, positive_value):
  df = df.copy()
  df[column] = df[column].apply(lambda x: 1 if x == positive_value else 0)
  return df

def ordinal_encode(df, column, ordering):
  df = df.copy()
  df[column] = df[column].apply(lambda x: ordering.index(x))
  return df

def onehot_encode(df, column, prefix):
  df = df.copy()
  dummies = pd.get_dummies(df[column], prefix=prefix)
  df = pd.concat([df, dummies], axis = 1)
  df = df.drop(column, axis = 1)
  return df

# Creating a Pre-process function

In [ ]:
def preprocess_inputs(df):
  df = df.copy()

  #Binary encoding 'Attrition_Flaf' and 'Gender' column
  df = binary_encode(df, 'Attrition_Flag', positive_value='Attrited Customer')
  df = binary_encode(df, 'Gender', positive_value='M')

  #Ordinally encode 'Education_Level' & 'Income_Category'

  education_ordering = [
              'Uneducated',
              'High School',
              'College',
              'Graduate',
              'Post-Graduate',
              'Doctorate'
               ]
  income_ordering = [
              'Less than $40K',
              '$40K - $60K',
              '$60K - $80K',
              '$80K - $120K',
              '$120K +'
               ]

  df = ordinal_encode(df, 'Education_Level', ordering = education_ordering)
  df = ordinal_encode(df, 'Income_Category', ordering = income_ordering)


  #Encode Nominal Columns
  df = onehot_encode(df, 'Marital_Status', prefix = 'MS')
  df = onehot_encode(df, 'Card_Category', prefix = 'CC')


  #Spliting into x & y
  y = df['Attrition_Flag'].copy()
  x = df.drop('Attrition_Flag', axis = 1).copy()

  #Scaling with standard scaler to have mean = 0 & variance = 1
  scaler = StandardScaler()
  x = pd.DataFrame(scaler.fit_transform(x), columns = x.columns)

  #Returning x & y
  return x, y

In [ ]:
#Preprocessing function call
x, y = preprocess_inputs(data)

In [ ]:
x

       Customer_Age    Gender  Dependent_count  ...   CC_Gold  CC_Platinum  CC_Silver
0         -0.165406  1.059956         0.503368  ... -0.107644    -0.044484  -0.240794
1          0.333570 -0.943436         2.043199  ... -0.107644    -0.044484  -0.240794
2          0.583058  1.059956         0.503368  ... -0.107644    -0.044484  -0.240794
3         -0.789126 -0.943436         1.273283  ... -0.107644    -0.044484  -0.240794
4         -0.789126  1.059956         0.503368  ... -0.107644    -0.044484  -0.240794
...             ...       ...              ...  ...       ...          ...        ...
10122      0.458314  1.059956        -0.266547  ... -0.107644    -0.044484  -0.240794
10123     -0.664382  1.059956        -0.266547  ... -0.107644    -0.044484  -0.240794
10124     -0.290150 -0.943436        -1.036462  ... -0.107644    -0.044484  -0.240794
10125     -2.036565  1.059956        -0.266547  ... -0.107644    -0.044484  -0.240794
10126     -0.414894 -0.943436        -0.266547  ... -0.107644    -0.044484   4.152932

[10127 rows x 24 columns]

In [ ]:
y

0        0
1        0
2        0
3        0
4        0
        ..
10122    0
10123    1
10124    1
10125    1
10126    1
Name: Attrition_Flag, Length: 10127, dtype: int64

In [ ]:
#Model Training and implementation

x_train, x_test, y_train, y_test = train_test_split(x,y, train_size= 0.7,random_state=123)

In [ ]:
#Implementation of each model

models = [
        LogisticRegression(),
        SVC(),
        DecisionTreeClassifier(),
        MLPClassifier(),
        RandomForestClassifier()
]

for model in models:
  model.fit(x_train, y_train)


model_names = [
    "  Logistic Rregression",
    "Support Vector Machine",
    "         Decision Tree",
    "        Neural Network",
    "         Random Forest"
]

for model, name in zip(models, model_names):
  print(name + ": {:4f}%".format(model.score(x_test, y_test)*100))

/usr/local/lib/python3.10/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

  Logistic Rregression: 90.457387%
Support Vector Machine: 92.991115%
         Decision Tree: 93.188549%
        Neural Network: 93.747943%
         Random Forest: 96.117144%